<script type="module" src="./partials/navigation/navigation.js"></script>
<link rel="stylesheet" href="./partials/navigation/navigation.css" />

<nav class="navigation" data-navigation>
  <ul class="navigation__list">
    <li class="navigation__list-item">
      <a class="navigation__list-item-link" href="/" data-navigation-link
        >Without CSP</a
      >
    </li>
    <li class="navigation__list-item">
      <a
        class="navigation__list-item-link"
        href="./with-csp.html"
        data-navigation-link
        >With CSP</a
      >
    </li>
    <li class="navigation__list-item">
      <a
        class="navigation__list-item-link"
        href="./with-csp-and-trusted-type.html"
        data-navigation-link
        >With CSP and Trusted Type</a
      >
    </li>
  </ul>
</nav>
